<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %>


  <%= f.fields_for :ingredients do |ingredient| %>
    <ul>
      <li>
        <%= ingredient.label :name %>
        <%= ingredient.text_field :name %>
       <br>
       <%= ingredient.label :quantity %>
        <%= ingredient.text_field :quantity %>
      </li>
    </ul>
  <% end %>
  <%= f.submit %>
<% end %>
